@page
@model WebApp.Pages_PlayerCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DbPlayerDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DbPlayer.ID" class="control-label"></label>
                <input asp-for="DbPlayer.ID" class="form-control" />
                <span asp-validation-for="DbPlayer.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.ShipsDbFriendly" class="control-label"></label>
                <input asp-for="DbPlayer.ShipsDbFriendly" class="form-control" />
                <span asp-validation-for="DbPlayer.ShipsDbFriendly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.ShootingHistoryDbFriendly" class="control-label"></label>
                <input asp-for="DbPlayer.ShootingHistoryDbFriendly" class="form-control" />
                <span asp-validation-for="DbPlayer.ShootingHistoryDbFriendly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.SpriteDbFriendly" class="control-label"></label>
                <input asp-for="DbPlayer.SpriteDbFriendly" class="form-control" />
                <span asp-validation-for="DbPlayer.SpriteDbFriendly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.BoardBoundsDbFriendly" class="control-label"></label>
                <input asp-for="DbPlayer.BoardBoundsDbFriendly" class="form-control" />
                <span asp-validation-for="DbPlayer.BoardBoundsDbFriendly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.ShipBeingPlacedIdx" class="control-label"></label>
                <input asp-for="DbPlayer.ShipBeingPlacedIdx" class="form-control" />
                <span asp-validation-for="DbPlayer.ShipBeingPlacedIdx" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="DbPlayer.IsHorizontalPlacement" /> @Html.DisplayNameFor(model => model.DbPlayer.IsHorizontalPlacement)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.Name" class="control-label"></label>
                <input asp-for="DbPlayer.Name" class="form-control" />
                <span asp-validation-for="DbPlayer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.PlayerType" class="control-label"></label>
                <input asp-for="DbPlayer.PlayerType" class="form-control" />
                <span asp-validation-for="DbPlayer.PlayerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.fCameraPixelPosY" class="control-label"></label>
                <input asp-for="DbPlayer.fCameraPixelPosY" class="form-control" />
                <span asp-validation-for="DbPlayer.fCameraPixelPosY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.fCameraPixelPosX" class="control-label"></label>
                <input asp-for="DbPlayer.fCameraPixelPosX" class="form-control" />
                <span asp-validation-for="DbPlayer.fCameraPixelPosX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.fCameraScaleX" class="control-label"></label>
                <input asp-for="DbPlayer.fCameraScaleX" class="form-control" />
                <span asp-validation-for="DbPlayer.fCameraScaleX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.fCameraScaleY" class="control-label"></label>
                <input asp-for="DbPlayer.fCameraScaleY" class="form-control" />
                <span asp-validation-for="DbPlayer.fCameraScaleY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.fMouseSelectedTileX" class="control-label"></label>
                <input asp-for="DbPlayer.fMouseSelectedTileX" class="form-control" />
                <span asp-validation-for="DbPlayer.fMouseSelectedTileX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbPlayer.fMouseSelectedTileY" class="control-label"></label>
                <input asp-for="DbPlayer.fMouseSelectedTileY" class="form-control" />
                <span asp-validation-for="DbPlayer.fMouseSelectedTileY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
