@page
@model WebApp.Pages.Battleship.ErrorPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error!</title>
</head>
<body>
<div>
    Error! Something went wrong!
</div>
</body>
</html>